.App{
  font-family: sans-serif;
  text-align: center;
}
.card{
  border: 1px solid black;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
  padding: 15px;
  align-items: center;
  margin: 12px;
}

img{
width: 150px;
height: 150px;
object-fit: cover;
}
.product{
  display: flex;
  flex-wrap: wrap;
}
button{
  background-color: blue;
  margin-top: 2px;
}
